* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "CRAMPS", sans-serif;
  background-image: url("../assets/bgpic.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.full-screen {
  height: 100vh;
  position: absolute;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* .bg-home {
  background-image: url("../assets/bgpic.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
background-position: center;

} */

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.content-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
}
.content {
  text-align: center;
}

.content h2 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 8em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #b1b1b1;
}

.content h2:nth-child(2) {
  color: #646d8a;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.start-game-btn-area {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.setting-select {
  display: flex;
  font-family: "Comic Sans MS";
  font-weight: bold;
  flex-direction: row;
  color: #ffffff;
  align-content: space-between;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.start-btn {
  font-size: 45px;
  font-family: "CRAMPS", sans-serif;
  cursor: pointer;
  color: #646d8a;
  background-color: black;
  width: 20rem;
  border-radius: 20px;
}

.start-btn:hover {
  color: #fff;
}

.form-select {
  width: 150px;
  background-color: #646d8a;
  color: #fff;
  border: #646d8a;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 16px;
}
.waviy {
  font-family: "Alfa Slab One", cursive;
  position: relative;
  display: inline-block;
  color: rgb(235, 235, 235);
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@media (min-height: 600px) and (min-width: 821px) {
  body {
    height: 100vh;
    background-image: url("../assets/bgpic.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 480px) {
  .content h2 {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 5em;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 480px) {
  .start-btn {
    font-size: 35px;
    font-family: "CRAMPS", sans-serif;
    cursor: pointer;
    color: #646d8a;
    background-color: black;
    width: 15rem;
    border-radius: 20px;
  }
  .setting-select {
    display: flex;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    flex-direction: row;
    color: #ffffff;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
  }
  .form-select {
    width: 110px;
    background-color: #646d8a;
    color: #fff;
    border: #646d8a;
  }
  
  
  
}

.game-status {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/* kioiko */

.line h2 {
  text-align: center;
  margin: 250px auto;
}

.lose {
  animation: 2s anim-popoutin ease infinite;
}


.won {
  animation: 2s anim-won ease infinite;
}
@keyframes anim-popoutin {
  0% {
    color: rgb(255, 255, 255);
    transform: scale(0);
    opacity: 0;
  }
  25% {
    color: rgb(167, 0, 0);
    transform: scale(2);
    opacity: 1;
  }
  50% {
    color: rgb(255, 205, 205);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes anim-won {

  25% {
    color: rgb(0, 129, 28);
    transform: scale(2);
    opacity: 1;
  }
  50% {
    color: rgb(224, 255, 214);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(1);
    opacity: 1;
  }
}
/* tijme */
.timer-group {
  height: 400px;
  margin: 0 auto;
  position: relative;
  width: 400px;
}

.face {
  background: #020f1ddc;
  border-radius: 50%;
  height: 296px;
  left: 52px;
  padding: 165px 40px 0;
  position: absolute;
  width: 296px;
  text-align: center;
  top: 52px;
}

.face h2 {
  font-weight: 300;
}

.face p {
  border-radius: 20px;
  font-size: 76px;
  font-weight: 400;
  position: absolute;
  top: 70px;
  width: 260px;
  left: 20px;
}


.wrapper{
  width:200px;
  height:60px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.circle{
  width:20px;
  height:20px;
  position: absolute;
  border-radius: 50%;
  background-color: rgb(190, 223, 223);
  left:15%;
  transform-origin: 50%;
  animation: circle .5s alternate infinite ease;
}

@keyframes circle{
  0%{
      top:60px;
      height:5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
  }
  40%{
      height:20px;
      border-radius: 50%;
      transform: scaleX(1);
  }
  100%{
      top:0%;
  }
}
.circle:nth-child(2){
  left:45%;
  animation-delay: .2s;
}
.circle:nth-child(3){
  left:auto;
  right:15%;
  animation-delay: .3s;
  
}
.shadow{
  width:20px;
  height:4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top:62px;
  transform-origin: 50%;
  z-index: -1;
  left:15%;
  filter: blur(1px);
  animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
  0%{
      transform: scaleX(1.5);
  }
  40%{
      transform: scaleX(1);
      opacity: .7;
  }
  100%{
      transform: scaleX(.2);
      opacity: .4;
  }
}
.shadow:nth-child(4){
  left: 45%;
  animation-delay: .2s
}
.shadow:nth-child(5){
  left:auto;
  right:15%;
  animation-delay: .3s;
}
.wrapper span{
  position: absolute;
  top:75px;
  font-size: 20px;
  color: #fff;
  left:15%;
}

