* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "CRAMPS", sans-serif;
}

.room-code {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.room-code h2 {
  font-size: 6rem;
  color: aliceblue;
  text-align: center;
}
.room-code h3 {
  font-size: 2rem;
  color: aliceblue;
  text-align: center;
}

/* Joined members section */
.avatars {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 70px;
}

.avatars img {
  height: 150px;
}

.avatars div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatars h3 {
  color: aliceblue;
  font-family:cursive ;
}



.xbox {
  margin: 35px auto;
  font-size: 50px;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}
.resultLoc {
  margin-top: 100px;
  font-size: 30px;
  display: flex;
  color: #d1d1d1;
  align-items: center;
  justify-content: space-around;
  animation: 2s anim-lineUp ease-in-out;
}

.showSpy{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  gap: 20px;
}
.showSpy img {
  height: 200px;
}

.showSpy .members {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation:2s cssAnimation ease;
}

@keyframes cssAnimation {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.showSpy h3 {
  font-size: 45px;
  color: aliceblue;
  font-family:cursive ;
}

.spy-img{
 display:flex ;
 flex-direction: row;
 gap: 100px;
}

.xbox {
  
  animation: 2s anim-lineUp ease-in-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

