* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "CRAMPS", sans-serif;
}


.room-code {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.room-code h2 {
  font-size: 6rem;
  color: aliceblue;
  text-align: center;
}
.room-code h3 {
  font-size: 2rem;
  color: aliceblue;
  text-align: center;
}

/* Joined members section */
.avatars {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 25px;
}

.avatars img {
  height: 150px;
}

.avatars div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatars h3 {
  color: aliceblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
